*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
    text-decoration:  none;
}

body{ 
  background: url(../images/header-bg.jpeg);
}

header {
    padding: 0 20rem;
  
}


