*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:wght@100;300;400;500;700;900&family=Teko:wght@300;400;500;600;700&display=swap);
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
    text-decoration:  none;
}

body{ 
  background: url(../images/header-bg.jpeg);
}

.container-flex {
  display: flex;
}

header {
  padding: 0 10rem;
}

header.container-flex > div{
  flex: 1;
  align-content: flex-end;
  align-self: end;
}

.logo{
  width: 200px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: .5rem;

}

nav a {
  color: #384149;
}

.phone{ 
  display: flex;
  justify-content: end;
  color: #353330;
  padding: 1.5rem  .5rem 1.5rem 0;
}

@media only screen and (max-width: 1600px) {
  header.container-flex > div{
    flex: auto;
  }
}

@media only screen and (max-width: 1250px) {
  header {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 860px) {
  header.container-flex > div{
    flex: 1;
    align-self: auto;
  }

  header.container-flex {
    flex-direction: column;
  }

  header {
    padding: 0 1.5rem;
  }
}


@media only screen and (max-width: 700px) {
  nav{
    flex-direction: column;
  }

  .phone{ 
    justify-content: flex-start;
  }
}
