*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:wght@100;300;400;500;700;900&family=Teko:wght@300;400;500;600;700&display=swap);
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
    text-decoration:  none;
}

body{ 
  background: url(../images/header-bg.jpeg);
}

.container-flex {
  display: flex;
}

header {
  padding: 0 10rem;
}

header.container-flex > div{
  flex: 1;
}

